@font-face {
  font-family: "standardFont";
  src: url("/fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
  font-family: 'standardFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar CSS */

.navbar {
  padding: 12px;
  display: flex;
  align-items: center;
  /* margin: auto; */
  background-color:#141414;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.links {
  background-color: #141414;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.navbar a {
  font-size: 16px;
  margin-right: 16px;
  /* margin: 42px; */
  text-decoration: none;
  padding: 10px 32px;
  color: #f2f2f2;
  background-color: #141414;
  border-radius: 4px;
  background-size: 200%;
  transition: .2s ease-out;
}
.navbar a:hover {
  color: #95EE93;
  background-color: #141414;
  background-position: left;
}

.SpotifyLoginButton{
  font-size: 14px;
  margin-right: 32px;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 10px;
  border: none;
  color: #141414;
  background: linear-gradient(to left, #95EE93 50%, #141414 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
}

.SpotifyLoginButton:hover {
  color: #95EE93;
  background-color: #141414;
  background-position: left;
}

/* Personal Login CSS */

.PersonalLoginBox {
  margin: 20px;
  align-items: center;
  padding: 50px;
  background-size: 5%;
}

.GeneralLoginBox {
  margin: 30vh;
  align-items: center;
  padding: 50px;
  background-size: 5%;
}

#GeneralBox{
  margin: 24vh;
  border-radius: 100px;

}

.PersonalLoginArrowIcon{
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
  padding-left: 10px;
}

.PersonaolLoginSpotifyIcon{
  width: 42px;
  height: 42px;
  padding-right: 10px;
}

.PersonalLoginTextCapsule{
  display: inline-block;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.PersonalLoginLink {
  text-decoration: none;
  color:#FAF6F6;
  background-size: 200%;
  transition: .6s ease-out;
  font-size: 58px;
}

.PersonalLoginBoxCapsule{
  /* background: linear-gradient(to left, #FAF6F6 50%, #141414 50%) right; */
  background-color: #141414;
  background-size: 200%;
  transition: .6s ease-out;
  margin: 20px;
  
  border-radius: 100px;
}

.PersonalLoginBoxCapsule:hover{
  background-position: left;
}

.PersonalLoginBoxCapsule:hover .PersonalLoginBox{
  color:#95EE93;
  background-position: right;
}

.PersonalLoginBoxCapsule:hover .PersonalLoginLink{
  color:#95EE93;
  background-position: right;
}

.PersonalLoginBoxCapsule:hover .PersonalLoginArrowIcon{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.PersonalLoginBoxCapsule:hover .PersonalLoginTextCapsule{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* GeneralSpotifyHistory CSS */

.GeneralSpotifyHistoryBox{
  font-size: 32px;
  background-color: #FAF6F6;
  margin: 20px;
  align-items: center;
  padding: 15px;
}

.GeneralSpotifyContentCapsule{
  width: 100%;
  font-size: 20px;
}

.GeneralSpotifyImageBox{
  display: inline-block;
  margin: 3% 5%;
  transition: transform .2s;
}

.GeneralSpotifyImageBox:hover {
  color: #95EE93;
  background-color: #141414;
  box-shadow: 6px 6px #95EE93;
  transform: scale(1.1);
}

.GeneralSpotifyImage{
  width: 324px;
  height: auto;
}

/* GraphBox */

.GraphBox{
  font-size: 14px;
  background-color: #FAF6F6;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 140px;
  float:right;
  margin-right: -15px;
}

#GraphText{
  font-size: 22px;
}

.PersonalGraphCapsule{
  font-size: 32px;
  background-color: #FAF6F6;
  margin: 15px;
  align-items: center;
  padding: 15px;
}

.GraphList{
  align-items: center;
  padding: 20px;
}

.GraphListButton{
  font-size: 14px;
  margin-right: 8px;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 10px;
  border: none;
  color: #141414;
  background-color: #FAF6F6;
  border-color: #141414;
  border-style: solid;
  border-width: 1px;
  background-size: 200%;
  transition: .2s ease-out;
}

.GraphListButton:hover {
  color: #95EE93;
  background-color: #141414;
  background-position: left;
}

.GraphListButtonSelected{
  color: #95EE93;
  background-color: #141414;
  font-size: 16px;
  margin-right: 8px;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 10px;
  border-color: #141414;
  border-style: solid;
  border-width: 2px;
}

.GraphList h3{
  text-decoration: underline;
  display: inline-block;
}

.ArtistList {
  width: 80vh;
  list-style-type: none;
  margin-left: 5vh;
  margin: 15px;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
  }

.TimeTermButtons{
  margin-top: 5px;
}

.imageDivBox{
  display: inline-block;
  margin: 25px;
  transition: transform .2s;
  word-break: break-word;
  width: 240px;
}

.imageDivBox:hover {
  color: #95EE93;
  background-color: #141414;
  box-shadow: 6px 6px #95EE93;
  transform: scale(1.1);
}

.imageDiv{
  width: 240px;
  height: 240px;
}

.imageBoxCapsule{
  width: 100%;
  font-size: 20px;
  display: inline-block;
}

.ChangeDataButton{
  display: inline-block;
  margin: 4vh;
  width: 32vh;
  height: 20vh;
  color: #FAF6F6;
  font-size: 300%;
  transition: transform .2s;
  background-image: url(https://i.scdn.co/image/ab67616d0000b273e31a279d267f3b3d8912e6f1);

}

.ChangeDataButton:hover {
  color: #95EE93;
  background-color: #141414;
  box-shadow: 6px 6px #95EE93;
  transform: scale(1.1);
}

#knapp2{
  background-image: url(https://i.scdn.co/image/ab67616d0000b27333ccb60f9b2785ef691b2fbc);
}